
*.vsidx
*.vsidx
BionicCoreLibrary/.vs/BionicCoreLibrary/FileContentIndex/52756d29-124e-42f3-8fcd-cc45b3c1c2a0.vsidx
*.v2
*.vsidx
BionicCoreLibrary/.vs/BionicCoreLibrary/v17/.suo
*.dll
*.pdb
BionicCoreLibrary/.vs/BionicCoreLibrary/v17/.suo
